<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="main.css">>
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel Planner App
  </div>
  <div class ="holder trip">
    <h2>Enter Your Trip Details</h2>
    City
    <input type="text" id="city" placeholder="Dream Destination"> 
    Start Date
    <input type="date" id="start_date" placeholder="Travel Start Date"> 
    End Date
    <input type="date" id="end_date" placeholder="Travel End Date">
    <br>
    <br>
    <form class="" onsubmit="return Client.addTrip(event)">
      <button id="trip" type = "submit" onclick="return Client.addTrip(event)" onsubmit="return Client.addTrip(event)"> Add Trip </button>
  </div>
  <br>
  <h2>Last planned trip</h2>
  <div class ="holder entry">
  <div id = "entryHolder">
    <div id = "tripCity"></div>
    <div id = "tripStart"></div> 
    <div id = "tripEnd"></div>
    <div id = "tripDuration"></div>
    <div id = "tripTemp"></div>
    <img id = "tripPic" src="" alt="Image Of City"></img>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script> 
</body>
</html>