body{
    background: lightblue;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: min-content;
    /* grid-template-columns:  */
    height:100vh;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-weight: bold;
    color: black;
    font-size: 24px;
  }


.holder{
    padding-bottom: 0px;
}

.entry{
    background: rgba(167, 170, 175, 0.4);
}

.headline {
    font-size: 80px;
    color:darkgoldenrod;
}

.trip {
    color: darkgray;
}

/*  Basic Styling To Override Default For Basic HTML Elements */


input{
    background: lightgrey;
    color:white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

input:hover {
    background: grey;
}

button{
    width: 100px;
    height: 50px;
    background:lightcoral;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    
}

button:hover {
    background: purple;
}

h1{
    font-size: 36px;
}

textarea{
    background: lightgrey;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color:white; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 